[submodule "weatherflow-dashboards-aio"]
	path = weatherflow-dashboards-aio
	url = https://github.com/maxo99/weatherflow-dashboards-aio.git
[submodule "docker-garmindb"]
	path = docker-garmindb
	url = https://github.com/maxo99/docker-garmindb.git
[submodule "GarminDB"]
	path = GarminDB
	url = https://github.com/maxo99/GarminDB.git
[submodule "garmin-grafana"]
	path = garmin-grafana
	url = https://github.com/maxo99/garmin-grafana.git
[submodule "weatherflow-collector"]
	path = weatherflow-collector
	url = https://github.com/maxo99/weatherflow-collector.git
